@section scripts{

    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Client/Scripts/Products.js"></script>
    <script src="~/Client/Scripts/productService.js"></script>
    <script src="~/Client/Scripts/ListController.js"></script>
    <script src="~/Client/Scripts/DetalisController.js"></script>
    <script src="~/Client/Scripts/EditContoller.js"></script>


}

<div ng-app="Products">
    <ng-view></ng-view>
</div>